/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
}

.header__navigation {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-height: 764px;
  width: 232px;
  top: 100%;
  right: 0%;
}

.header__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding: 37px 0 4px 34px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
  position: relative;
}

@media (max-width: 1599px) {
  .header__container {
    padding: 0 16px;
  }
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
  fill: #E8E8E8;
}

.header__button:focus + .header__navigation {
  display: block;
}

.header__button:hover {
  opacity: 0.5;
}

.header__sub {
  max-width: 1600px;
  min-height: 148px;
  background: #F8F3F4;
  margin: 0 auto;
  display: flex;
}

.header__sub-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #F16D7F;
  padding: 20px 0 12px 33px;
  display: block;
  text-decoration: none;
  align-self: center;
}

@media (max-width: 1599px) {
  .header__sub-title {
    padding: 20px 0 12px 0;
  }
}

@media (max-width: 767px) {
  .header__sub-title {
    text-align: center;
  }
}

.header__sub-navigation-link {
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
  padding: 0px 0 12px 55px;
  text-decoration: none;
}

.header__sub-list {
  display: flex;
  align-items: center;
}

.header__sub-list li:last-child > a {
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .header__sub-list {
    margin-right: 16px;
  }
}

.header__sub-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4A4A4A;
}

.header__link {
  margin: 0 33px 0 0;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.header__link:hover {
  opacity: 0.5;
}

.header__search {
  border: 0;
  height: 26px;
  width: 26px;
  padding: 0;
}

.header__search:hover {
  opacity: 0.5;
}

.header__search:focus + .header__search-input {
  background: white;
}

.header__search-icon {
  fill: #E8E8E8;
  background-color: #222222;
}

.header__search-input {
  top: 40%;
  left: 22%;
  background: transparent;
  transition: background .55s ease;
  border: 0;
  outline: 0;
}

.header__search-input:focus {
  background: white;
}

@media (max-width: 767px) {
  .header__search-input {
    width: 152px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.brand {
  max-width: 1600px;
  display: flex;
  margin: 0 auto 63px auto;
}

@media (max-width: 767px) {
  .brand {
    min-height: 363px;
  }
}

.brand__title-container {
  background: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

@media (max-width: 1599px) {
  .brand__title-container {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 767px) {
  .brand__title-container {
    padding: 0 0 0 83px;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
  }
}

.brand__sub-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

@media (max-width: 1599px) {
  .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.promotions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 97px;
}

.promotions__item {
  width: 31%;
  min-height: 260px;
  flex-direction: column;
  display: flex;
  margin: 0 0 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1599px) {
  .promotions__item {
    width: 32%;
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 767px) {
  .promotions__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.promotions__item--woman {
  background-image: url(../img/girl_carts.jpg);
  background-size: cover;
}

.promotions__item--man {
  background-image: url(../img/man_carts.jpg);
  background-size: cover;
}

.promotions__item--kids {
  background-image: url(../img/boy_carts.jpg);
  background-size: cover;
}

.promotions__item--accesorise {
  background-image: url(../img/accesorise_carts.jpg);
  background-size: cover;
  width: 100%;
  margin: 0;
}

@media (max-width: 1599px) {
  .promotions__item--accesorise {
    min-height: 116px;
  }
}

.promotions__title {
  align-self: center;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.promotions__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-direction: column;
}

.products__item {
  position: relative;
  width: 360px;
}

.products__item:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
}

.products__item:hover .product__button {
  display: block;
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  display: flex;
  justify-content: center;
  margin: 0 0 6px;
}

.products__text {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  margin: 0 0 48px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

.products__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px 14px 38px;
  background: white;
  border: 1px solid #FF6A6A;
  min-width: 211px;
  min-height: 47px;
  align-self: center;
  margin: 0 0 95px;
}

.products__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.product__button {
  display: none;
  position: absolute;
  top: 200px;
  left: 100px;
  background: transparent;
  padding: 13px 15px 13px 50px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-position: left 15% top 50%;
  background-repeat: no-repeat;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-image: url(../img/product_button.svg);
}

.product__description {
  background: #F8F8F8;
  padding: 25px 29px 20px 17px;
  margin: 0 0 48px;
}

@media (max-width: 767px) {
  .product__description {
    margin: 0 auto;
  }
}

.product__title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 0 0 13px;
}

.product__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  padding: 0 0 18px;
}

.product__price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .product__img {
    width: 100%;
  }
}

.overlay {
  width: 100%;
  min-height: 420px;
  background: transparent;
  position: absolute;
  top: 0;
  transition: background .55s ease-in-out;
}

.footer__advantages {
  background: #222224;
  max-width: 1600px;
  min-height: 341px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
    padding: 48px 0 64px 0;
  }
}

.footer__advantages-item {
  width: 360px;
  text-align: center;
}

@media (max-width: 1599px) {
  .footer__advantages-item {
    padding: 48px 0 0 0;
  }
}

.footer__advantages-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  padding: 25px 0 16px 0;
}

.footer__advantages-text {
  color: #FBFBFB;
}

.footer__subscribe {
  background-image: url(../img/back-footer.jpg);
  background-size: cover;
  max-width: 1600px;
  min-height: 448px;
  margin: 0 auto;
}

.footer__subscribes {
  display: flex;
  justify-content: space-between;
  min-height: 448px;
}

@media (max-width: 1599px) {
  .footer__subscribes {
    flex-direction: column;
    align-items: center;
  }
}

.footer__subscribe-quote {
  width: 359px;
  text-align: center;
}

.footer__subscribe-img {
  margin: 87px 0 0 0;
}

@media (max-width: 1599px) {
  .footer__subscribe-img {
    margin: 54px 0 0 0;
  }
}

.footer__subscribe-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}

@media (max-width: 1599px) {
  .footer__subscribe-text {
    margin: 26px 0 48px 0;
  }
}

@media (max-width: 767px) {
  .footer__subscribe-text {
    margin: 26px 0 59px 0;
  }
}

.footer__subscribe-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__subscribe-sub--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  color: #222224;
}

.footer__subscribe-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 359px;
  flex-direction: column;
  justify-content: center;
}

.footer__subscribe-email {
  width: 245px;
  height: 49px;
  background-color: #E1E1E1;
  margin-top: 32px;
  border-radius: 20px 0 0 20px;
  border: 0;
  padding-left: 22px;
}

.footer__subscribe-email:active, .footer__subscribe-email:focus {
  outline: none;
}

.footer__copyright {
  background-color: #222224;
  min-height: 79px;
  max-width: 1600px;
  margin: 0 auto;
}

.footer__copyright-flex {
  display: flex;
  justify-content: space-between;
  min-height: 79px;
}

@media (max-width: 767px) {
  .footer__copyright-flex {
    flex-direction: column-reverse;
  }
}

.footer__button-submit {
  display: flex;
}

@media (max-width: 1599px) {
  .footer__button-submit {
    margin: 27px 0 140px 0;
  }
}

@media (max-width: 767px) {
  .footer__button-submit {
    margin: 22px 0 110px 0;
  }
}

.footer__submit {
  border-radius: 0px 20px 20px 0px;
  width: 100px;
  height: 49px;
  background-color: #F26376;
  border: 0;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 32px;
}

.footer__submit:focus {
  outline: none;
}

.footer__copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__copy {
    justify-content: center;
    margin: 0 0 9px 0;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link-icon {
  padding: 9px;
  width: 32px;
  height: 32px;
  background-color: #FBFBFB;
  margin: 24px 7px 24px 0;
}

.social__link-icon:hover {
  background-color: #F16D7F;
  fill: #FBFBFB;
}

@media (max-width: 767px) {
  .social__link-icon {
    margin: 43px 0 40px 0;
  }
}

@media (max-width: 767px) {
  .social {
    justify-content: space-evenly;
  }
}

.perks {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  flex-grow: 1;
  width: 625px;
  margin: 0 0 0 128px;
}

@media (max-width: 1599px) {
  .perks {
    margin: 0 0 0 22px;
  }
}

@media (max-width: 767px) {
  .perks {
    margin: 0 auto;
    width: 358px;
  }
}

.perks__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

@media (max-width: 1599px) {
  .perks__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}

.perks__text {
  margin: 0 0 21px 0;
}

@media (max-width: 1599px) {
  .perks__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}

.perks__list {
  padding: 0 0 0 40px;
}

.perks__item {
  margin: 0 0 16px 0;
  position: relative;
}

.perks__item::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../img/jack.svg);
  top: 10px;
  left: -36px;
  background-repeat: no-repeat;
}

@media (max-width: 1599px) {
  .perks__item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

@media (max-width: 1599px) {
  .form {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}

.form__lastname {
  margin: 0 0 31px 0;
}

.form__registration {
  flex-grow: 1;
}

.form__radio {
  display: none;
}

.form__radio-label {
  position: relative;
  margin: 0 30px 0 24px;
}

.form__radio-label::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  left: -23px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}

.form__radio-label::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: -19px;
  top: 4px;
  background: #9F9F9F;
  border-radius: 50%;
  display: none;
}

.form__radio-label--other {
  display: none;
}

@media (max-width: 1599px) {
  .form__radio-label--other {
    display: block;
  }
}

.form__radio:checked + .form__radio-label::after {
  display: block;
}

.form__name {
  margin: 20px 0 20px 0;
}

.form__email {
  margin: 20px 0 20px 0;
}

.form__password {
  margin-bottom: 15px;
}

.form__titel {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  margin: 0 0 39px 0;
}

.form__button {
  position: relative;
}

.form__button-style {
  background: #F16D7F;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 167px;
  min-height: 50px;
  margin-bottom: 96px;
  position: relative;
  padding: 0 50px 0 0;
  border: none;
}

.form__button-arrow {
  position: absolute;
  top: 19px;
  left: 112px;
}

legend {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

#last_name,
#email,
#password,
#name {
  width: 360px;
  min-height: 45px;
  border: 1px solid #A4A4A4;
}

::placeholder {
  color: #B1B1B1;
  padding-left: 17px;
}

.radio {
  margin-bottom: 31px;
  display: flex;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart__box {
  display: flex;
  box-shadow: 21px 34px 36px 3px rgba(34, 60, 80, 0.2);
}

@media (max-width: 767px) {
  .cart__box {
    box-shadow: 21px 34px 36px -26px rgba(34, 60, 80, 0.2);
  }
}

.cart__box-up {
  margin: 96px 0 40px 0;
}

@media (max-width: 1599px) {
  .cart__box-up {
    margin: 59px 0 40px 0;
  }
}

@media (max-width: 767px) {
  .cart__box-up {
    margin: 39px 0 32px 0;
  }
}

.cart__box-down {
  margin: 0 0 72px 0;
}

@media (max-width: 1599px) {
  .cart__box-down {
    margin: 0 0 62px 0;
  }
}

@media (max-width: 767px) {
  .cart__box-down {
    margin: 0 0 30px 0;
  }
}

.cart__box-info {
  width: 390px;
  margin: 0 0 0 31px;
}

@media (max-width: 1599px) {
  .cart__box-info {
    width: 472px;
  }
}

@media (max-width: 767px) {
  .cart__box-info {
    width: 214px;
    min-height: 188px;
  }
}

.cart__box-titel {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #222222;
  padding: 22px 0 42px 0;
  width: 262px;
}

@media (max-width: 767px) {
  .cart__box-titel {
    width: 143px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

.cart__box-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  padding: 0 0 6px 0;
}

@media (max-width: 767px) {
  .cart__box-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .cart__box-img {
    width: 143px;
    height: auto;
  }
}

.cart__price {
  color: #F16D7F;
}

.cart__button {
  display: flex;
  justify-content: space-between;
  margin: 0 0 128px 0;
}

@media (max-width: 1599px) {
  .cart__button {
    margin: 0 0 64px 0;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .cart__button {
    justify-content: space-between;
    margin: 0 0 48px 0;
  }
}

.cart__button-reset {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  padding: 17px 40px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
}

@media (max-width: 767px) {
  .cart__button-reset {
    padding: 9px 18px;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    flex-grow: 1;
    margin: 0 5px 0 0;
  }
}

.cart__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
}

@media (max-width: 767px) {
  .cart__link {
    padding: 9px 9px;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    flex-grow: 1;
    text-align: center;
    margin: 0 5px 0 0;
  }
}

@media (max-width: 1599px) {
  .cart__forms {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .cart__forms {
    flex-direction: column;
    align-items: center;
  }
}

.cart__forms-total {
  width: 360px;
  min-height: 214px;
  background: #F5F3F3;
  margin: 58px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 1599px) {
  .cart__forms-total {
    margin: 37px 0 136px 0;
  }
}

@media (max-width: 767px) {
  .cart__forms-total {
    margin: 0 0 96px 0;
  }
}

.cart__forms-titel {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 39px 34px 12px 0;
}

.cart__forms-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding: 0 37px 0 0;
}

.cart__forms-text--grand {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.cart__forms-text:after {
  content: '';
  width: 275px;
  outline: 1px solid #E2E2E2;
  background: #E2E2E2;
  position: absolute;
  top: 199%;
  right: 22%;
}

.cart__forms-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  padding: 15px 42px;
  background: #F16D7F;
  color: #FFFFFF;
  margin: 39px 0 0 0;
  align-self: center;
}

.carts {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1599px) {
  .carts {
    flex-direction: column;
  }
}

.carts__form {
  display: flex;
  flex-direction: column;
  margin: 96px 0 0 0;
}

@media (max-width: 1599px) {
  .carts__form {
    margin: 0;
  }
}

.carts__form-button {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4A4A4A;
  padding: 10px 14px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  margin: 24px 0 0 0;
}

@media (max-width: 1599px) {
  .carts__form-button {
    margin: 24px 0 128px 0;
  }
}

@media (max-width: 767px) {
  .carts__form-button {
    margin: 24px 0 48px 0;
  }
}

.carts__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}

#country,
#state,
#zip {
  width: 360px;
  min-height: 45px;
  border: 1px solid #A4A4A4;
  margin: 20px 0 0 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 129px;
  z-index: 1;
  background: #FFFFFF;
  min-height: 601px;
  border: 1px solid #A4A4A4;
}

@media (max-width: 1599px) {
  .description {
    margin-top: 0;
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .description {
    max-width: 375px;
    margin-bottom: 64px;
  }
}

.description__titel {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 64px 0 27px 0;
  position: relative;
}

.description__titel::after {
  content: '';
  position: absolute;
  border: 1px solid #F16D7F;
  padding: 1px 29px;
  background: #F16D7F;
  right: 29%;
  top: 89%;
}

.description__titel-second {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #4A4A4A;
  text-transform: uppercase;
  padding: 0 0 48px 0;
}

@media (max-width: 767px) {
  .description__titel-second {
    padding: 0 0 32px 0;
  }
}

.description__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #6F6E6E;
  width: 555px;
  text-align: center;
  padding: 0 0 32px 0;
}

@media (max-width: 767px) {
  .description__text {
    max-width: 326px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
}

.description__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #F16D7F;
  padding: 0 0 130px 0;
  position: relative;
}

.description__price::after {
  content: '';
  position: absolute;
  border-top: 1px solid #B1B1B1;
  width: 647px;
  top: 60%;
  right: -661%;
}

@media (max-width: 767px) {
  .description__price::after {
    width: 174px;
    right: -153%;
  }
}

@media (max-width: 767px) {
  .description__price {
    padding: 0 0 82px 0;
  }
}

.description__dropdown {
  display: flex;
  justify-content: space-between;
}

.description__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  padding: 13px 56px 13px 24px;
  background: transparent;
  border: 1px solid #F16D7F;
  margin: 49px 0 65px 0;
}

@media (max-width: 767px) {
  .description__button {
    margin: 64px 0 65px 0;
  }
}

.description__catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

@media (max-width: 1599px) {
  .description__catalog li:last-child {
    display: none;
  }
}

@media (max-width: 1599px) and (max-width: 767px) {
  .description__catalog {
    flex-direction: column;
    margin-bottom: 64px;
  }
}
/*# sourceMappingURL=style.css.map */