$black-color: #222222;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$white-gray-color: #9F9F9F;
$gray-color: #F8F8F8;
$dark-color: #000000;
$gray-color-text: #5D5D5D;
$red-color: #F26376;
$super-dark-color: #222224;
$white-color: #FBFBFB;
$super-white-gray-color: #E1E1E1;
$white-white-color: #FFFFFF;
$light-pink-color: #F8F3F4;
$transperent-color: #B1B1B1;
$grey-border-color:#A4A4A4;
$grey-for-menu: #6F6E6E;
$button-white: #E8E8E8;
$dark-grey-color: #575757;
$some-black-color: #4A4A4A;
$cart-forms-color: #F5F3F3;
$desktop-width: 1599px;
$tablet-width: 767px;
$mobile-width: 375px;
