.products {
    display: flex;
    flex-direction: column;

    &__item {
        position: relative;
        width: 360px;

        &:hover .overlay {
            background: rgba(0, 0, 0, 0.5);
        }

        &:hover .product__button {
            display: block;
        }

        @include min-mobile {
            width: 100%;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 36px;
        color: $black-color;
        display: flex;
        justify-content: center;
        margin: 0 0 6px;
    }

    &__text {
        color: $white-gray-color;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        margin: 0 0 48px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $red-color;
        padding: 14px 38px 14px 38px;
        background: white;
        border: 1px solid #FF6A6A;
        min-width: 211px;
        min-height: 47px;
        align-self: center;
        margin: 0 0 95px;

        &:hover {
            background-color: $dark-pink-color;
            color: $white-white-color;
        }
    }
}

.product {

    &__button {
        display: none;
        position: absolute;
        top: 200px;
        left: 100px;
        background: transparent;
        padding: 13px 15px 13px 50px;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        background-position: left 15% top 50%;
        background-repeat: no-repeat;
        color: $white-white-color;
        border: 1px solid $white-white-color;
        background-image: url(../img/product_button.svg);
    }

    &__description {
        background: $gray-color;
        padding: 25px 29px 20px 17px;
        margin: 0 0 48px;

        @include mobile {
            margin: 0 auto;
        }
    }

    &__title {
        font-size: 13px;
        line-height: 16px;
        color: $dark-color;
        text-transform: uppercase;
        padding: 0 0 13px;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: $gray-color-text;
        padding: 0 0 18px;
    }

    &__price {
        color: $dark-pink-color;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }

    &__img {

        @include min-mobile {
            width: 100%;
        }
    }
}

.overlay {
    width: 100%;
    min-height: 420px;
    background: transparent;
    position: absolute;
    top: 0;
    transition: background .55s ease-in-out;
}