.promotions {
    
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 97px;
    }

    &__item {
        width: 31%;
        min-height: 260px;
        flex-direction: column;
        display: flex;
        margin: 0 0 30px;
        justify-content: center;
        align-items: center;

            @include tablet {
                width: 32%;
                min-height: 168px;
                margin: 0 0 19px;
            }

            @include mobile {
                width: 100%;
                min-height: 247px;
                margin: 0 0 32px;
            }
    }

    &__item--woman {
        background-image: url(../img/girl_carts.jpg);
        background-size: cover;
        }

    &__item--man {
        background-image: url(../img/man_carts.jpg);
        background-size: cover;
        }

    &__item--kids {
        background-image: url(../img/boy_carts.jpg);
        background-size: cover;
    }

    &__item--accesorise {
        background-image: url(../img/accesorise_carts.jpg);
        background-size: cover;
        width: 100%;
        margin: 0;

            @include tablet {
                min-height: 116px;
            }
    }

    &__title {
        align-self: center;
        color: white;
        text-transform: uppercase;
        @include font (16px, 19px, 400);
    }

&__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $dark-pink-color;
    text-transform: uppercase;
    }
}